<footer class="site-footer h-card">

  <div class="wrapper">
    <h2 class="footer-heading">{{ site.title }}</h2>
    <div class="footer-col-wrapper">
      <div class="footer-col">
        {%- include social/meta.html -%}
      </div>
      <div class="footer-col">
        <p>{{ site.description | escape }}</p>
      </div>
    </div>

    <div class="social-links">
      {%- include social/social.html -%}
    </div>

  </div>
  <div>
    Attributions:<br>
    <a href="https://www.flaticon.com/free-icons/time-and-date" title="time-and-date icons">Time-and-date icons created by Elite Art - Flaticon</a>
  </div>
</footer>
