<div id="event_anchors_section">
<input type="checkbox" checked="checked" id="eal_all" onclick="toggleAllIgnore('event_anchor_links')"> 
<label for="eal_all">Event Visibility Toggle</label>
<div id="event_anchor_links">Event Listing:
<ul>
{% for item_hash in events %}
  {% assign item = item_hash[1] %}
  {% assign slugged = item.title | slugify | replace: 'é', 'e' %}
    <li><input type="checkbox" checked="checked" id="{{'cb_' | append: slugged }}" onclick="toggleEventIgnore(this.id)"> <a href="#{{'anc_' | append: slugged }}" id="{{'ln_' | append: slugged }}">{{ item.title }}</a></li>
{% endfor %}
</ul>
</div>
</div>