---
layout: default
custom_css:
  - calendar
custom_js:
  - calendar
---
<div class="calendar-container">
    <div>
        <fieldset class="calendar">
            <legend>
                <header class="calendar-header">
                    <p class="calendar-current-date"></p>
                    <div class="calendar-navigation">
                        <span id="calendar-prev" 
                                class="material-symbols-rounded">
                            chevron_left
                        </span>
                        <span id="calendar-next" 
                                class="material-symbols-rounded">
                            chevron_right
                        </span>
                    </div>
                </header>
            </legend>
            <div class="calendar-body">
            <ul class="calendar-weekdays">
                <li>Mon</li>
                <li>Tue</li>
                <li>Wed</li>
                <li>Thu</li>
                <li>Fri</li>
                <li>Sat</li>
                <li>Sun</li>
            </ul>
            
            <div class="calendar-dates"></div>
        </div>
        </fieldset>
    </div>
</div>

{{ content }}